

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #28a745;
  --secondary-color: #218838;
  --text-color: #333;
  --light-gray: #f5f7fa;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-weight: 450;
  font-size: 15px;
}

h1 {
  font-size: 16px;
  margin: 20px 0 20px 5px;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
