#navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: bottom 0.3s ease-in-out;
}

#navbar.nav-hidden {
  bottom: -100px;
}

#navbar ul {
  display: flex;
  max-width: 900px;
  justify-content: center;
  padding: 10px 0;
  list-style: none;
  margin: 0 auto;
  width: 100%;
}

#navbar li {
  flex: 1;
  text-align: center;
}

#navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #28a745;
  font-size: 12px;
  padding: 8px;
  transition: color 0.2s;
}

#navbar a.active {
  color: #28a745;
  font-weight: 500;
}

#navbar a i {
  font-size: 14px;
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-badge-wrapper {
  position: relative;
  display: inline-block;
}

.icon-with-badge {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#messages-badge {
  margin-right: 18px;
}

/* --- Media Queries for Desktop --- */
@media (min-width: 900px) {
  #navbar {
    top: -4px;
    bottom: auto;
    left: auto;
    right: 0px;
    transform: none;
    max-width: 400px;
    background-color: transparent;
    box-shadow: none;
  }

  #navbar.nav-hidden {
    bottom: auto;
    transform: none;
  }

  #navbar a span:not(.notification-badge):not(.icon-with-badge) {
    display: none;
  }
}
